body {
    padding: 2rem;
}

.square {
    width: 100px;
    height: 100px;
    background: oklch(0.69 0.18 245.62);
}

.controls {
    margin-top: 150px;
    display: flex;
    gap: 1rem;

    button {
        background: #c7c7c7;
        padding: 0.5rem 1rem;
    }
}
